@import 'styles/variables';
@import 'styles/mixins.scss';

.form-wrapper {
  position: relative;

  @media (min-width: 1280px) and (max-width: 1365px) {
    left: 51.3%;
    top: 12.2rem;
  }
  @media (min-width: 1366px) and (max-width: 1440px) {
    left: 54%;
    top: 11.2rem;
  }
  @media screen and (min-width: 1440px) {
    left: 56%;
    top: 11.2rem;
  }
}

.logo {
  position: absolute;
  top: 4rem;
  left: 17.9rem;
}

.form {
  background-color: $white-color;
  width: 54rem;
  border-radius: 2rem;
  padding: 12rem 0rem 4rem 6.55rem;
  max-height: 46.8rem;

  &__btns {
    margin: 5rem 5.45rem;

    button {
      margin-bottom: 2rem;
    }
  }
}

@include respond(79.9375em) {
  .form-wrapper {
    top: 37rem;
    left: 0;
  }
  .form {
    margin: 0 auto;
  }
  .logo {
    left: 40%;
  }
}

@include respond(47.9375em) {
  .form-wrapper {
    top: 11.2rem;
  }
  .form {
    margin: 0 auto;
  }
  .logo {
    left: 40%;
  }
}
@include respond(35em) {
  .form {
    max-width: 32rem;
    margin: 0 auto;
    padding: 12rem 2rem 4rem 2rem;
    &__btns {
      margin: 5rem 0;
    }
  }
  .logo {
    left: 32%;
  }
}
