@import 'styles/variables';
@import 'styles/mixins.scss';

.input {
  position: relative;
  margin-bottom: 2.9rem;

  .icon {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    font-size: 1.8rem;
    background-color: $white-color;
    width: 40.95rem;
    border: none;
    border-bottom: 1px solid $alto-color;
    padding: 1rem;
    padding-left: 5.45rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $silver-color;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 3rem $white-color inset !important;
      box-shadow: 0 0 0 3rem $white-color inset !important;

      &:hover,
      &:focus,
      &:active {
        -webkit-box-shadow: 0 0 0 3rem $white-color inset !important;
        box-shadow: 0 0 0 3rem $white-color inset !important;
      }
    }
    
    @include respond(35em) {
      width: 100%;
    }
  }
}
