.title {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 3rem;
	line-height: 4.5rem;
	line-height: 1.5;
	letter-spacing: 0.05rem;
	color: #000000;
	margin: 0 auto;
}

.doughnut canvas {
	max-width: 32rem;
	max-height: 32rem;
}

.chart {
	max-width: 32rem;
	margin-bottom: 3rem;
}

.containerChart {
	position: relative;
}
