@import 'styles/variables';

.button {
  position: fixed;
  width: 4.4rem;
  height: 4.4rem;
  right: 8.5rem;
  bottom: 4rem;
  background-color: $green-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: 0rem 0.6rem 1.5rem rgba(36, 204, 167, 0.5);
}
