@import 'styles/variables';
@import 'styles/mixins';

.background {
  background-image: url('../../assets/images/bg-dashboard.png');
  background-size: cover;
  height: 100vh;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

  @include respond(tablet-max) {
    background-image: url('../../assets/images/bg-dashboard-tablet.png');
    flex-direction: column;
  }

  @include respond(phone-max) {
    background-image: none;
    background-color: $mobile-bg-color;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
  }
}

.hide_content {
  display: none;
}

.leftSide {
  height: 88.8vh;
  width: 36.3%;
  border-right: 0.1rem solid #E7E5F2;
  padding: 4rem 0 0 8.7rem;
  display: flex;
  flex-direction: column;

  @include respond(tablet-max) {
    border: none;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 0 0;
    height: fit-content;
  }

  @include respond(phone-max) {
    border: none;
    padding: 0;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: fit-content;
    justify-content: center;
  }
}

.leftSide>div:nth-child(2){

  @include respond(phone-max) {
    display: none;
  }
}

.rightSide {
  padding: 4rem 0 0 3rem;

  @include respond(tablet-max) {
    margin-top: 4rem;
    padding: 0;
    display: flex;
    align-self: center;
  }

  @include respond(phone-max) {
    margin-top: 3rem;
  }
}
