@import 'styles/variables';
@import 'styles/mixins';

.background {
  background-image: url('../../assets/images/bg-dashboard.png');
  background-size: cover;
  height: 100vh;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

  @include respond(tablet-max) {
    background-image: url('../../assets/images/bg-dashboard-tablet.png');
    flex-direction: column;
  }

  @include respond(phone-max) {
    background-image: none;
    background-color: $mobile-bg-color;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
  }
}

.hide_content {
  display: none;
}

.content {
  padding: 4rem 0 0 3rem;

  @include respond(tablet-max) {
    margin-top: 4rem;
    padding: 0;
    display: flex;
    align-self: center;
  }

  @include respond(phone-max) {
    margin-top: 3rem;
  }
}
