@import "../../../styles/variables.scss";

.select {
	font-family: "Abel", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2rem;
	border: 0.1rem solid $black-color;
	background-color: transparent;
	appearance: none;
	background: url("../../../assets/images/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 2rem center;
	border-radius: 3rem;
	padding: 1.2rem 2rem 1.8rem;
	width: 100%;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);

	@media screen and (max-width: 76.7rem) {
		width: 28rem;
	}
}
.form {
	display: flex;
	margin-bottom: 2rem;
	@media screen and (max-width: 76.7rem) {
		flex-direction: column;
	}
}
.form :first-child {
	margin-right: 2rem;
	@media screen and (max-width: 76.7rem) {
		margin-bottom: 2rem;
	}
}
