$white-color: #fff;
$silver-color: #bdbdbd;
$purple-color: #4a56e2;
$pink-color: #ff6596;
$black-color: #000;
$red-color: #f00;
$green-color: #24cca7;
$grey-color: #dcdcdf;
$light-grey-color: #a6a6a6;
$forest-shadow-color: rgba(36, 204, 167, 0.5);
$red-shadow-color: rgba(255, 101, 150, 0.5);
$mobile-bg-color: #e7eaf2;
$alto-color: #e0e0e0;
$mountain-meadow-color: #19b08d;
$aqua-haze-color: #e5f1ef;
$mystic-color: #e7eaf2;

$phone-max: 47.9375em;
$tablet-min: 48em;
$tablet-max: 79.9375em;
