$white-color: #fff;
$silver-color: #bdbdbd;
$purple-color: #4a56e2;
$pink-color: #ff6596;
$black-color: #000;
$red-color: #f00;
$green-color: #24cca7;
$alto-color: #e0e0e0;
$mountain-meadow-color: #19b08d;
$phone-max: 76.7rem;
$tablet-min: 76.8rem;
$tablet-max: 127.9rem;
