@import 'styles/variables';
@import 'styles/mixins';

.select {
  &__wrapper {
    position: relative;
  }

  &__head {
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 3rem;
    padding: 1.2rem 2rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      text-transform: capitalize;
    }
  }

  &__context {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(100% + 6px));
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 1rem;
    height: 35rem;
    overflow-y: auto;
    text-align: justify;

    &::-webkit-scrollbar {
      width: 1rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-grey-color;
      max-height: 5rem;
      border-radius: 1rem;
    }

    &__item {
      padding: 1.2rem 2rem;
      cursor: pointer;
      transition: 0.25s linear;

      &:hover {
        background-color: $white-color;
        color: $pink-color;
      }
    }

    @include respond(tablet-max) {
      height: 25rem;
    }

    @include respond(phone-max) {
      height: 19rem;
    }
  }
}
