@import 'styles/variables';
@import 'styles/mixins';

.dashboard {
  &__wrapper {
    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0;
    margin-top: 5.5rem;
  }

  &__input__group {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  &__table {
    &__head {
      background-color: $white-color;
      padding: 1.6rem 3rem 1.9rem;
      display: flex;
      align-items: center;
      gap: 17.7rem;
      border-radius: 3rem;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1.5rem 3rem;
      border-bottom: 1px solid $grey-color;
      box-shadow: 0 1px 0 rgba($white-color, 0.6);
      font-size: 1.6rem;

      &__left {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
      }

      &__square {
        width: 2.4rem;
        height: 2.4rem;
        background: transparent;
        border-radius: 2px;
      }
    }
  }

  &__bottom {
    padding: 0 3rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;

      &__red {
        color: $pink-color;
      }
      &__green {
        color: $green-color;
      }
    }
  }

  @include respond(tablet) {
    &__wrapper {
      margin-top: 0;
    }
  }

  @include respond(24em) {
    &__table {
      &__head {
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}
