.date_input {
  position: relative;

  div div input {
    padding-left: 2rem;
  }

  .calendar_icon {
    position: absolute;
    top: 50%;
    right: 2.3rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
