@import 'styles/variables';
@import 'styles/mixins';

.content {
  padding: 4rem 0 0 3rem;
  display: flex;
  gap: 3rem;

  @include respond(tablet-max) {
    justify-content: center;
  }

  @include respond(phone-max) {
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
