.button {
  background-color: transparent;
  border: none;
  line-height: 0.8;
  cursor: pointer;
  transition: transform 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(0.1rem);
  }
}
