@import 'styles/variables';
@import 'styles/mixins';

.bg {
  background-image: url('../../assets/images/bg-dashboard.png');
  height: 100vh;
  background-size: cover;
}

.dashboard {
  width: 70rem;
  border-collapse: collapse;
  font-size: 1.6rem;
  line-height: 2rem;

  @include respond(tablet-max) {
    width: 68.8rem;
  }

  @include respond(phone-max) {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

.dashboard {
  &__pinktext {
    color: $pink-color;
  }

  &__greentext {
    color: $green-color;
  }

  &__head {
    display: block;
    height: 5.8rem;
    width: 70rem;
    background-color: $white-color;
    border-radius: 3rem;
    padding-top: 1.6rem;
    padding-bottom: 1.9rem;
  }

  &__head h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  &__row {
    display: inline-block;
    height: 5.4rem;
    padding: 1.5rem 0 1.9rem 0;
    border-bottom: 1px solid $grey-color;
  }

  &__date {
    width: 11.6rem;
    padding-left: 2rem;
  }

  &__type {
    width: 8.8rem;

    @include respond(tablet-max) {
      width: 8.5rem;
    }
  }

  &__category {
    width: 14.2rem;
  }

  &__comment {
    width: 12rem;

    @include respond(tablet-max) {
      width: 11.9rem;
    }
  }

  &__amount {
    width: 10rem;
    text-align: right;

    @include respond(tablet-max) {
      width: 10.1rem;
    }
  }

  &__balance {
    width: 11.3rem;
    text-align: right;

    @include respond(tablet-max) {
      width: 11.3rem;
      text-align: right;
    }
  }
}

.pagination__buttons {
  margin: 2rem 0 0 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  border: 0.1rem solid $purple-color;
  background: $white-color;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: $purple-color;
    color: $white-color;
  }

  @include respond(phone-max) {
    margin-right: 0.8rem;
    margin-bottom: 2rem;
  }
}

.pagination__back,
.pagination__next {
  background: $grey-color;
  border: none;
  cursor: default;
}

.pagination__displaynone {
  display: none;
}
