@import 'styles/variables';
@import 'styles/mixins';

.background {
  background-image: url('../../assets/images/bg-dashboard.png');
  background-size: cover;
  min-height: calc(100vh - 8rem);
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

  @include respond(tablet-max) {
    background-image: url('../../assets/images/bg-dashboard-tablet.png');
    flex-direction: column;
  }

  @include respond(phone-max) {
    background-image: none;
    background-color: $mobile-bg-color;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
  }
}

.hide-content {
  display: none;
}

.layout {
  height: 88.8vh;
  width: 36.3%;
  border-right: 0.1rem solid #e7e5f2;
  padding: 4rem 0 0 8.7rem;
  display: flex;
  flex-direction: column;

  @include respond(tablet-max) {
    border: none;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    height: fit-content;
  }

  @include respond(phone-max) {
    border: none;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: fit-content;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      &:first-child {
        align-items: center;
      }
    }
  }
}
