@import 'styles/variables';
@import 'styles/mixins';

.button {
  position: fixed;
  right: 8.5rem;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  width: 4.4rem;
  height: 4.4rem;
  background-color: $green-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0rem 0.6rem 1.5rem $forest-shadow-color;
  transition: all 0.3s;

  &:hover {
    background-color: $mountain-meadow-color;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  @include respond(tablet) {
    right: 4rem;
  }

  @include respond(phone) {
    right: 2rem;
    bottom: 3rem;
  }
}
