@import 'styles/variables';
@import 'styles/mixins';

.button {
  position: absolute;
  top: 3.1rem;
  right: 8.65rem;
  width: 7.9rem;
  background-color: $white-color;
  border: none;
  cursor: pointer;

  .exit-icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  span {
    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    position: absolute;
    top: -0.3rem;
    left: 2.8rem;
    color: $silver-color;

    @include respond(30em) {
      display: none;
    }
  }

  @include respond(tablet) {
    right: 4.05rem;
  }

  @include respond(30em) {
    width: 1.8rem;
    height: 1.8rem;
    right: 2.1rem;
  }

  @include respond(phone) {
    top: 2.1rem;
  }
}
