@import 'styles/variables';

.check_box {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;

  &__option {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $alto-color;
    font-family: 'Abel', sans-serif;
  }
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .back {
    position: relative;
    width: 8rem;
    height: 4rem;
    border-radius: 3rem;
    background-color: $white-color;
    border: 0.1rem solid $alto-color;
    opacity: 1;

    transition: background-color 200ms ease-in-out;

    .indicator {
      position: absolute;
      top: -0.2rem;
      left: -0.1rem;
      width: 4.4rem;
      height: 4.4rem;
      background: url('../../assets/images/plus.svg') no-repeat;
      background-position: center;
      background-color: $green-color;
      border-radius: 2.2rem;
      transition: left 250ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0rem 0.6rem 1.5rem $forest-shadow-color;

      &>svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &>input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.1rem;
    height: 0.1rem;

    &:checked {
      &~.back {
        background-color: ($white-color, 0.1);

        .indicator {
          left: 3.7rem;
          background: url('../../assets/images/minus.svg') no-repeat;
          background-position: center;
          background-color: $pink-color;
          box-shadow: 0rem 0.6rem 1.5rem $red-shadow-color;

          .vertical {
            display: none;
          }
        }
      }
    }
  }
}

.income {
  color: $green-color;
}

.expenses {
  color: $pink-color;
}
